doctype html
html(lang="en")
  head
    meta(charset="utf-8")
    meta(name="viewport", content="width=device-width, initial-scale=1")
    meta(name="color-scheme", content="light dark")
    link(rel="stylesheet", href="css/pico.classless.min.css")
    title=title
  body(style="background-color: white")
    main.container(style="max-width: 400px; min-height: 90vh; margin: 0 auto; background-color: white; padding-left: 25px")
      h2 Update new post
      form(method="post" action="/api/v1/posts" style="flex: 1; flex-direction: column; justify-content: center; align-items: center; color: #333")
        label(style="color: #333;") Title:
        input(style="margin-top: 10px; margin-bottom: 4px; height: 40px; background-color: #fefefe; margin-bottom: 25px; color: #333333; width: 100%" name="title", type="title" value=post.title)
        label(style="color: #333;") Content:
        input(style="margin-top: 10px; margin-bottom: 4px; height: 250px; background-color: #fefefe; margin-bottom: 25px; color: #333333; width: 100%" name="content", type="content" value=post.content)
        div(style="display: flex; flex-direction: column")
          div(style="display: flex; flex-direction: row") 
            input(type="radio" id="published" name="status" value="published" checked=post.status === "published")
            p published
          div(style="display: flex; flex-direction: row") 
            input(type="radio" id="draft" name="status" value="draft" checked=post.status === "draft")
            p draft
          div(style="display: flex; flex-direction: row") 
            input(type="radio" id="archived" name="status" value="archived" checked=post.status === "archived")
            p archived
        button(type="submit" style="margin-top: 25px; margin-bottom: 25px; color: #333; width: 100%; color: white") Create
    

    include includes/footer.pug
